streamlit
pandas
requests
openpyxl
pymupdf
lxml
chembl-webresource-client
beautifulsoup4
pdfplumber
rdkit
numpy
matplotlib
google-generativeai
python-dotenv
pypdf2
chembl-webresource-client
chembl_webresource_client