streamlit
pandas
requests
openpyxl
pymupdf
lxml
beautifulsoup4
pdfplumber
rdkit
numpy
matplotlib
google-generativeai
python-dotenv
chembl-webresource-client
chembl_webresource_client
pypdf2
PyPDF2
scipy