streamlit
pandas
requests
openpyxl
pymupdf
lxml
chembl-webresource-client
beautifulsoup4
pdfplumber
rdkit
numpy
matplotlib
google-generativeai
python-dotenv

streamlit
numpy
pandas
matplotlib
google-generativeai
python-dotenv
rdkit
beautifulsoup4
requests
pypdf2